# Server config
PORT=5000
CORS_ORIGIN=http://localhost:3000

# Database config (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/suasion_db?schema=public"

# SMTP config for Nodemailer email notifications
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
ADMIN_EMAIL=contact@suasiongroup.in
